.about {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(90deg, pink, white);
  display: flex;
  margin-top: 40px;
}

@media (min-width: 1000px) {
  .about {
    justify-content: space-between;
  }
}

.about__image {
  height: 450px;
}

@media (max-width: 1400px) {
  .about__image--right {
    display: none;
  }
}

@media (max-width: 767px) {
  .about__image {
    display: none;
  }
}

.about__description {
  max-width: 600px;
  text-align: center;
  align-self: center;
}

.about__button {
  background-color: #f761c5;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
