.nav__logo {
    font-size: 2em;
    color: #f761c5;
    margin: 20px 0;
}

@media (max-width: 767px) {
    .nav__logo {
        margin: 20px 0;
    }
}

.nav__logo-container {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    background-image: url(../images/web-icon-full.png);
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .nav__logo-container {
        background-image: url(../images/web-icon-white.png);
    }
}

.nav__logo-icon {
    width: 180px;
}

@media (max-width: 767px) {
    .nav__logo-icon {
        width: 30px;
    }
}
