.nav__logo {
  font-size: 2em;
  font-weight: bold;
  color: #f761c5;
  text-decoration: none;
  margin: 20px 10px;

  padding: 1px 10px;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .nav__logo {
    margin: 20px 0;
  }
}

.nav__logo--h1 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.nav__logo--h2 {
  font-size: 0.35em;
  margin: 0;
  padding-left: 5px;
  color: white;
}

.nav__logoIcon {
  width: 20px;
}
