.offer {
  max-width: 1500px;
  display: grid;
  color: white;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: 1200px) and (max-width: 1699px) {
  .offer {
    max-width: 1100px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .offer {
    max-width: 850px;
  }
}

.offer__button {
  max-width: 200px;
  margin: 10px 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: #f761c5;
  cursor: pointer;
  transition: 0.3s;
}

.offer__button:hover {
  background-color: #f53db8;
}

.offer__list {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media (max-width: 1400px) {
  .offer__list {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .offer__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .offer__list {
    grid-template-columns: 1fr;
  }
}

.offer__list-item {
  border: 2px dashed #fd8fd8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.offer__list-item:hover {
  transform: scale(1.05);
}

.offer__link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__image {
  width: 100px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid #fd8fd8;
  transition: 0.3s;
}

.offer__image:hover {
  border: 3px solid white;
}

.offer__title {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: #f761c5;
  transition: 0.3s;
  text-align: center;
}

.offer__title:hover {
  color: white;
}

.offer__description {
  font-size: 14px;
  margin: 10px;
  text-align: center;
}
