html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  font-family: "Courgette", cursive;
  background-color: #202020;
}
