.section {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(190deg, #ffeaee, #ffffff, #ffeaee);
  margin: -1px;
}

.section:nth-of-type(2n + 1) {
  background-image: linear-gradient(170deg, #ffeaee, #ffffff, #ffeaee);
}

.section:first-child {
  background-image: none;
}
