.container {
  width: 1200px;
  padding: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px dashed pink;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container--last {
  border: none;
}

.container--map {
  padding: 0;
  margin: 20px;
  border: 4px solid #f761c5;
  border-radius: 15px;
}

.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 15px;
}
